$darkGreen: #394508;
$midGreen: #619111;
$lightGreen: #D2FD9C;
$midGreenText: #77912A;
$lightText: #FFFFFF;
$lightGray: #CBCBCB;
$grayColor: #5D5D5D;
$blackText: #000000;

// Bold Manrope Font
@font-face {
  font-family: 'Manrope-bold';
  src: url(assets/fonts/Manrope/static/Manrope-Bold.ttf);
}

// Medium Manrope Font
@font-face {
  font-family: 'manrope-medium';
  src: url(assets/fonts/Manrope/static/Manrope-Medium.ttf);
}

// Regular Manrope Font
@font-face {
  font-family: 'manrope-regular';
  src: url(assets/fonts/Manrope/static/Manrope-Regular.ttf);
}

@mixin lightGreen-btn {
  background-color: $lightGreen;
  border-radius: 0.1rem;
  border: none
}

@mixin small-grn-txt {
  color: $lightGreen;
  font-size: 0.6rem;
}


body {
  font-family: 'Manrope-regular';
}

// Margin-top and Padding-bottom
.mtpb-40 {
  margin-top: 40px;
  padding-bottom: 40px;
}

// Large Numbers
// .large-numbers {
//   font-size: 5.6rem;
// }


header {
  background-color: $darkGreen;
}

.lt-grn-btn {
  @include lightGreen-btn;
  background-color: $lightGreen;
}


// Main Heading
.main-heading {
  h1 {
    color: $lightText;
    font-size: 1.75rem;

    span {
      color: $lightGreen;
    }
  }

  h2 {
    color: $lightGray;
    font-size: 1rem;
    letter-spacing: -0.05rem;
  }
}

// Our Services Banner
.services-banner {
  h3 {
    @include small-grn-txt;
  }

  .services-box {
    width: 30%;
    height: 105px;
    background-color: $midGreen;
    border-radius: 4px;
    text-align: center;
    font-size: 0.6rem;

    p {
      font-weight: 600;
    }
  }
}

// Bottom Nav Section
.bottom-nav {
  gap: 0.5rem;

  p {
    @include small-grn-txt;
  }
}

// Sponserships Section
.sponsers-section {
  margin-top: 84px;
  padding-bottom: 62px;
}

// Full Image and Motive
.motive-section {
  h2 {
    font-size: 1.2rem;
    margin-top: 25px;
    padding-bottom: 80px;
  }
}

// Company Goal Section
.goal-section {
  padding-bottom: 110px;
  h2 {
    font-size: 1.6rem;
  }
  p {
    font-size: 0.68rem;
  }
}

// Green Card
.card-box {
  background-color: $lightGreen;
  border-radius: 4px;
  .large-nmbr {
    font-size: 5.6rem;
    margin-top: 30px;
  }

  p {
    margin-bottom: 30px;
  }
}

// Reliability Section
.reliability-section {
  padding-bottom: 90px;
  h2 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 0.68rem;
    font-weight: 600;
  }
  p {
    font-size: 0.68rem;
    font-weight: 500;
    color: $grayColor;
  }
}